{% assign computingData = site.data.content.computing %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                {% for detail in computingData.details %}
                <p>{{detail}}</p>
                {% endfor %}
            </div>
            <div id="computing-skills" class="col s12 m6">
                <h5>Personal Skill Highlights</h5>
                {% for skill in computingData.skillHighlights.competent %}
                <div class="chip colour-scheme-override skill-competent">{{skill}}</div>
                {% endfor %}
                {% for skill in computingData.skillHighlights.developing %}
                <div class="chip colour-scheme-override skill-developing">{{skill}}</div>
                {% endfor %}
                {% for skill in computingData.skillHighlights.experience %}
                <div class="chip colour-scheme-override skill-experience">{{skill}}</div>
                {% endfor %}
                {% for skill in computingData.skillHighlights.otherInterest %}
                <div class="chip colour-scheme-override skill-otherInterest">{{skill}}</div>
                {% endfor %}

                <p>Colours correspond to:</p>
                <div class="chip colour-scheme-override skill-competent">Competent</div>
                <div class="chip colour-scheme-override skill-developing">Developing</div>
                <div class="chip colour-scheme-override skill-experience">Experience</div>
                <div class="chip colour-scheme-override skill-otherInterest">Other Interests</div>
            </div>
        </div>
    </div>
</div>