<footer class="page-footer colour-scheme-override colour-primary">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5>About This Site</h5>
                <p>This is the personal web site for Benedict W. Hazel.</p>
            </div>
            <div class="col m3 s12">
                <h5>Other Sites</h5>
                {% include linkList.html
                    siteList=site.data.links.sites
                %}
            </div>
            <div class="col m3 s12">
                <h5>Technologies</h5>
                {% include linkList.html
                    siteList=site.data.links.technologies
                %}
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <p>Copyright &copy; Benedict W. Hazel, 2009-2020.  All views expressed are my own.</p>
        </div>
    </div>
</footer>