<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br />
            <br />
            <h1 class="header center">{{include.title}}</h1>
            <div class="row center">
                <h4>{{include.subtitle}}</h4>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="parallax">
        <img src="{{include.backgroundImage}}" alt="{{include.backgroundImageAltText}}" />
    </div>
</div>