---
---

@import "./materialize";

.colour-primary {
    @extend .teal, .darken-1;
}

.colour-secondary {
    @extend .purple, .darken-4;
}

.parallax-container {
    height: auto;
}

.colour-scheme-override {
    color: #ffffff;
}

.highlight-section {
    padding: 5px 10px 5px 10px;
}

footer .page-footer {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: #ffffff;
    }
}