---
title: Benedict W. Hazel
layout: default
---

<!-- Parallax Site Title -->
{% include parallaxTitle.html
    title="Benedict W. Hazel"
    subtitle="London based Theoretical Chemist turned Software Engineer"
    image="/img/me.png"
    imageAltText="Me"
    backgroundImage="/img/londonSkyline.jpg"
    backgroundImageAltText="London Skyline"
%}

<!-- Me Introduction -->
{% include me.html %}

<!-- Parallax Computing Title -->
{% include parallaxTitle.html
    subtitle="Computing"
    backgroundImage="/img/codeRacks.jpg"
    backgroundImageAltText="Code with Server Racks"
%}

<!-- Parallax Music Title -->
{% include parallaxTitle.html
    subtitle="Music"
    backgroundImage="/img/sheetMusic.jpg"
    backgroundImageAltText="Sheet Music"
%}

<!-- Parallax Sport & Leisure Title -->
{% include parallaxTitle.html
    subtitle="Sport &amp; Leisure"
    backgroundImage="/img/chessPieces.jpg"
    backgroundImageAltText="Chess Pieces"
%}

<!-- Page Footer -->
{% include footer.html %}